<div class='al-in-person-repository-name'>
  <% if repository.thumbnail_url %>
    <%= image_tag repository.thumbnail_url, alt: repository.name, class: 'img-fluid' %>
  <% end %>
  <div>
    <!-- replaced arclight A-Z lists with static pages -->
    <%# link_to(repository.name, arclight_engine.repository_path(repository.slug)) %>
    <%= link_to(repository.name, "https://archives.albany.edu/static/"+ repository.slug + ".html") %>
  </div>
</div>
<div class="clearfix"></div>
<!--<div class='al-in-person-repository-location'>
  <address>
    <% %i[building address1 address2 city_state_zip_country phone contact_info].each do |f| %>
      <% if repository.send(f).present? %>
        <div class='al-repository-contact-<%= f %>'>
          <%= repository.send(f) %>
        </div>
      <% end %>
    <% end %>
  </address>
</div>-->
<div class="in-person-repository-contact btn-group-justified text-center" role="group" aria-label="Options for more information.">
  
  <a class='btn btn-primary' href="https://library.albany.edu/archive/reference">
    <i class="fa fa-info-circle"></i>
    Contact
  </a>
  <a class='btn btn-primary' href="https://library.albany.edu/archive/visit">
    <i class="fa fa-university"></i>
    Visit
  </a>
</div>
