/* line 1, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/bootstrap_overrides.scss */
.nav.nav-pills {
  margin-bottom: 1rem;
}

/* line 1, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/collection_search.scss */
.al-collection-count {
  padding-top: 20px;
}

/* line 1, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/highlights.scss */
.al-document-highlight {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 0.875rem;
  font-style: italic;
}
/* line 6, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/highlights.scss */
.al-document-highlight em {
  background-color: yellow;
  font-weight: bold;
}

/* line 3, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.documents-hierarchy .document-title-heading,
.documents-online_contents .document-title-heading {
  font-size: 1.25rem;
}
/* line 8, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.documents-hierarchy .document-title-containers:after,
.documents-online_contents .document-title-containers:after {
  padding-right: 3px;
}
/* line 13, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.documents-hierarchy .al-toggle-view-all,
.documents-online_contents .al-toggle-view-all {
  color: #6c757d;
}
/* line 16, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.documents-hierarchy .al-toggle-view-all:before,
.documents-online_contents .al-toggle-view-all:before {
  color: #6c757d;
  content: "\2022";
  padding-right: 3px;
}
/* line 23, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.documents-hierarchy .al-hierarchy-children-status,
.documents-online_contents .al-hierarchy-children-status {
  font-size: 1rem;
  margin-top: 6px;
  text-align: left;
}
/* line 29, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.documents-hierarchy .bookmark-toggle,
.documents-hierarchy .al-request-form,
.documents-online_contents .bookmark-toggle,
.documents-online_contents .al-request-form {
  font-size: 0.875rem;
}
/* line 35, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.documents-hierarchy .documentHeader,
.documents-online_contents .documentHeader {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}
/* line 42, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.documents-hierarchy .al-document-abstract-or-scope,
.documents-online_contents .al-document-abstract-or-scope {
  font-size: 0.85rem;
  line-height: 1.25;
}
/* line 47, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.documents-hierarchy .al-hierarchy-sub-heading,
.documents-online_contents .al-hierarchy-sub-heading {
  color: #6c757d;
  font-size: 0.875rem;
  font-weight: normal;
  text-transform: uppercase;
}
/* line 55, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.documents-hierarchy .blacklight-series .document-title-heading,
.documents-hierarchy .blacklight-file .document-title-heading,
.documents-hierarchy .blacklight-otherlevel .document-title-heading,
.documents-online_contents .blacklight-series .document-title-heading,
.documents-online_contents .blacklight-file .document-title-heading,
.documents-online_contents .blacklight-otherlevel .document-title-heading {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
/* line 62, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.documents-hierarchy .blacklight-series .document-title-heading > a,
.documents-hierarchy .blacklight-file .document-title-heading > a,
.documents-hierarchy .blacklight-otherlevel .document-title-heading > a,
.documents-online_contents .blacklight-series .document-title-heading > a,
.documents-online_contents .blacklight-file .document-title-heading > a,
.documents-online_contents .blacklight-otherlevel .document-title-heading > a {
  color: #212529;
}
/* line 70, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.documents-hierarchy .blacklight-series .blacklight-subseries .document-title-heading,
.documents-hierarchy .blacklight-series .blacklight-file .document-title-heading,
.documents-hierarchy .blacklight-series .blacklight-otherlevel .document-title-heading,
.documents-hierarchy .blacklight-file .blacklight-subseries .document-title-heading,
.documents-hierarchy .blacklight-file .blacklight-file .document-title-heading,
.documents-hierarchy .blacklight-file .blacklight-otherlevel .document-title-heading,
.documents-online_contents .blacklight-series .blacklight-subseries .document-title-heading,
.documents-online_contents .blacklight-series .blacklight-file .document-title-heading,
.documents-online_contents .blacklight-series .blacklight-otherlevel .document-title-heading,
.documents-online_contents .blacklight-file .blacklight-subseries .document-title-heading,
.documents-online_contents .blacklight-file .blacklight-file .document-title-heading,
.documents-online_contents .blacklight-file .blacklight-otherlevel .document-title-heading {
  font-size: 1rem;
}
/* line 75, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.documents-hierarchy .blacklight-series .blacklight-subseries .document-title-heading .documentHeader,
.documents-hierarchy .blacklight-series .blacklight-file .document-title-heading .documentHeader,
.documents-hierarchy .blacklight-series .blacklight-otherlevel .document-title-heading .documentHeader,
.documents-hierarchy .blacklight-file .blacklight-subseries .document-title-heading .documentHeader,
.documents-hierarchy .blacklight-file .blacklight-file .document-title-heading .documentHeader,
.documents-hierarchy .blacklight-file .blacklight-otherlevel .document-title-heading .documentHeader,
.documents-online_contents .blacklight-series .blacklight-subseries .document-title-heading .documentHeader,
.documents-online_contents .blacklight-series .blacklight-file .document-title-heading .documentHeader,
.documents-online_contents .blacklight-series .blacklight-otherlevel .document-title-heading .documentHeader,
.documents-online_contents .blacklight-file .blacklight-subseries .document-title-heading .documentHeader,
.documents-online_contents .blacklight-file .blacklight-file .document-title-heading .documentHeader,
.documents-online_contents .blacklight-file .blacklight-otherlevel .document-title-heading .documentHeader {
  margin-top: 1rem;
}
/* line 81, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.documents-hierarchy .blacklight-series .blacklight-subseries .document-title-heading,
.documents-hierarchy .blacklight-series .al-hierarchy-level-1 .blacklight-file .document-title-heading,
.documents-hierarchy .blacklight-series .al-hierarchy-level-1 .blacklight-otherlevel .document-title-heading,
.documents-hierarchy .blacklight-file .blacklight-subseries .document-title-heading,
.documents-hierarchy .blacklight-file .al-hierarchy-level-1 .blacklight-file .document-title-heading,
.documents-hierarchy .blacklight-file .al-hierarchy-level-1 .blacklight-otherlevel .document-title-heading,
.documents-online_contents .blacklight-series .blacklight-subseries .document-title-heading,
.documents-online_contents .blacklight-series .al-hierarchy-level-1 .blacklight-file .document-title-heading,
.documents-online_contents .blacklight-series .al-hierarchy-level-1 .blacklight-otherlevel .document-title-heading,
.documents-online_contents .blacklight-file .blacklight-subseries .document-title-heading,
.documents-online_contents .blacklight-file .al-hierarchy-level-1 .blacklight-file .document-title-heading,
.documents-online_contents .blacklight-file .al-hierarchy-level-1 .blacklight-otherlevel .document-title-heading {
  padding-left: 10px;
}
/* line 86, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.documents-hierarchy .blacklight-series .blacklight-subseries .document-title-heading:before,
.documents-hierarchy .blacklight-series .al-hierarchy-level-1 .blacklight-file .document-title-heading:before,
.documents-hierarchy .blacklight-series .al-hierarchy-level-1 .blacklight-otherlevel .document-title-heading:before,
.documents-hierarchy .blacklight-file .blacklight-subseries .document-title-heading:before,
.documents-hierarchy .blacklight-file .al-hierarchy-level-1 .blacklight-file .document-title-heading:before,
.documents-hierarchy .blacklight-file .al-hierarchy-level-1 .blacklight-otherlevel .document-title-heading:before,
.documents-online_contents .blacklight-series .blacklight-subseries .document-title-heading:before,
.documents-online_contents .blacklight-series .al-hierarchy-level-1 .blacklight-file .document-title-heading:before,
.documents-online_contents .blacklight-series .al-hierarchy-level-1 .blacklight-otherlevel .document-title-heading:before,
.documents-online_contents .blacklight-file .blacklight-subseries .document-title-heading:before,
.documents-online_contents .blacklight-file .al-hierarchy-level-1 .blacklight-file .document-title-heading:before,
.documents-online_contents .blacklight-file .al-hierarchy-level-1 .blacklight-otherlevel .document-title-heading:before {
  color: #6c757d;
  content: "\027E9";
  padding-right: 3px;
}
/* line 95, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.documents-hierarchy .blacklight-series .al-hierarchy-level-2 .document-title-heading:before,
.documents-hierarchy .blacklight-series .al-hierarchy-level-2 .blacklight-file .document-title-heading:before,
.documents-hierarchy .blacklight-file .al-hierarchy-level-2 .document-title-heading:before,
.documents-hierarchy .blacklight-file .al-hierarchy-level-2 .blacklight-file .document-title-heading:before,
.documents-online_contents .blacklight-series .al-hierarchy-level-2 .document-title-heading:before,
.documents-online_contents .blacklight-series .al-hierarchy-level-2 .blacklight-file .document-title-heading:before,
.documents-online_contents .blacklight-file .al-hierarchy-level-2 .document-title-heading:before,
.documents-online_contents .blacklight-file .al-hierarchy-level-2 .blacklight-file .document-title-heading:before {
  content: "\027E9 \027E9";
}
/* line 102, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.documents-hierarchy .blacklight-series .al-hierarchy-level-3 .document-title-heading:before,
.documents-hierarchy .blacklight-series .al-hierarchy-level-3 .blacklight-file .document-title-heading:before,
.documents-hierarchy .blacklight-file .al-hierarchy-level-3 .document-title-heading:before,
.documents-hierarchy .blacklight-file .al-hierarchy-level-3 .blacklight-file .document-title-heading:before,
.documents-online_contents .blacklight-series .al-hierarchy-level-3 .document-title-heading:before,
.documents-online_contents .blacklight-series .al-hierarchy-level-3 .blacklight-file .document-title-heading:before,
.documents-online_contents .blacklight-file .al-hierarchy-level-3 .document-title-heading:before,
.documents-online_contents .blacklight-file .al-hierarchy-level-3 .blacklight-file .document-title-heading:before {
  content: "\027E9 \027E9 \027E9";
}

/* line 109, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-highlight {
  background: #fcf8e3;
}

/* line 114, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-placeholder {
  margin-top: 1rem;
}
/* line 117, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-placeholder h3 {
  background-color: #e9ecef;
  border-radius: 5px;
  height: 1.75rem;
}
/* line 123, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-placeholder p {
  background-color: #e9ecef;
  border-radius: 5px;
  height: 1rem;
}

/* line 132, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context h1 {
  font-size: 1.25rem;
}
/* line 138, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .documents-hierarchy .documentHeader,
#collection-context .documents-online_contents .documentHeader {
  margin-top: 1.5rem;
}
/* line 144, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .al-hierarchy-level-0 .document-title-heading {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
/* line 150, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .al-hierarchy-level-0 .document-title-heading > a {
  color: #212529;
}
/* line 157, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .al-hierarchy-level-1 .document-title-heading {
  font-size: 1rem;
  font-weight: 400;
}
/* line 161, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .al-hierarchy-level-1 .document-title-heading > a {
  color: #212529;
}
/* line 157, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .al-hierarchy-level-2 .document-title-heading {
  font-size: 1rem;
  font-weight: 400;
}
/* line 161, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .al-hierarchy-level-2 .document-title-heading > a {
  color: #212529;
}
/* line 157, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .al-hierarchy-level-3 .document-title-heading {
  font-size: 1rem;
  font-weight: 400;
}
/* line 161, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .al-hierarchy-level-3 .document-title-heading > a {
  color: #212529;
}
/* line 157, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .al-hierarchy-level-4 .document-title-heading {
  font-size: 1rem;
  font-weight: 400;
}
/* line 161, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .al-hierarchy-level-4 .document-title-heading > a {
  color: #212529;
}
/* line 157, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .al-hierarchy-level-5 .document-title-heading {
  font-size: 1rem;
  font-weight: 400;
}
/* line 161, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .al-hierarchy-level-5 .document-title-heading > a {
  color: #212529;
}
/* line 157, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .al-hierarchy-level-6 .document-title-heading {
  font-size: 1rem;
  font-weight: 400;
}
/* line 161, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .al-hierarchy-level-6 .document-title-heading > a {
  color: #212529;
}
/* line 157, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .al-hierarchy-level-7 .document-title-heading {
  font-size: 1rem;
  font-weight: 400;
}
/* line 161, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .al-hierarchy-level-7 .document-title-heading > a {
  color: #212529;
}
/* line 157, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .al-hierarchy-level-8 .document-title-heading {
  font-size: 1rem;
  font-weight: 400;
}
/* line 161, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .al-hierarchy-level-8 .document-title-heading > a {
  color: #212529;
}
/* line 157, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .al-hierarchy-level-9 .document-title-heading {
  font-size: 1rem;
  font-weight: 400;
}
/* line 161, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .al-hierarchy-level-9 .document-title-heading > a {
  color: #212529;
}
/* line 157, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .al-hierarchy-level-10 .document-title-heading {
  font-size: 1rem;
  font-weight: 400;
}
/* line 161, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .al-hierarchy-level-10 .document-title-heading > a {
  color: #212529;
}
/* line 157, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .al-hierarchy-level-11 .document-title-heading {
  font-size: 1rem;
  font-weight: 400;
}
/* line 161, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .al-hierarchy-level-11 .document-title-heading > a {
  color: #212529;
}
/* line 157, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .al-hierarchy-level-12 .document-title-heading {
  font-size: 1rem;
  font-weight: 400;
}
/* line 161, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
#collection-context .al-hierarchy-level-12 .document-title-heading > a {
  color: #212529;
}

/* line 171, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-level-1 {
  margin-left: 20px;
}
/* line 174, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-level-1.extra-indent {
  margin-left: 20px;
}

/* line 171, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-level-2 {
  margin-left: 20px;
}
/* line 174, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-level-2.extra-indent {
  margin-left: 40px;
}

/* line 171, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-level-3 {
  margin-left: 20px;
}
/* line 174, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-level-3.extra-indent {
  margin-left: 60px;
}

/* line 171, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-level-4 {
  margin-left: 20px;
}
/* line 174, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-level-4.extra-indent {
  margin-left: 80px;
}

/* line 171, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-level-5 {
  margin-left: 20px;
}
/* line 174, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-level-5.extra-indent {
  margin-left: 100px;
}

/* line 171, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-level-6 {
  margin-left: 20px;
}
/* line 174, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-level-6.extra-indent {
  margin-left: 120px;
}

/* line 171, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-level-7 {
  margin-left: 20px;
}
/* line 174, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-level-7.extra-indent {
  margin-left: 140px;
}

/* line 171, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-level-8 {
  margin-left: 20px;
}
/* line 174, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-level-8.extra-indent {
  margin-left: 160px;
}

/* line 171, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-level-9 {
  margin-left: 20px;
}
/* line 174, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-level-9.extra-indent {
  margin-left: 180px;
}

/* line 171, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-level-10 {
  margin-left: 20px;
}
/* line 174, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-level-10.extra-indent {
  margin-left: 200px;
}

/* line 171, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-level-11 {
  margin-left: 20px;
}
/* line 174, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-level-11.extra-indent {
  margin-left: 220px;
}

/* line 171, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-level-12 {
  margin-left: 20px;
}
/* line 174, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/hierarchy_and_online_contents.scss */
.al-hierarchy-level-12.extra-indent {
  margin-left: 240px;
}

/* line 1, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/layout.scss */
.al-search-breadcrumb,
.al-show-breadcrumb {
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

/* line 11, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/layout.scss */
.al-toggle-view-more[aria-expanded="true"]::after,
.al-toggle-view-all[aria-expanded="true"]::after {
  content: '\25BC';
  margin-left: 6px;
}
/* line 17, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/layout.scss */
.al-toggle-view-more::after,
.al-toggle-view-all::after {
  content: '\25B6';
  margin-left: 6px;
}

/* line 23, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/layout.scss */
.bookmark-toggle .toggle-bookmark {
  display: inline;
  margin-bottom: 0;
  white-space: nowrap;
}

/* line 29, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/layout.scss */
.bookmark-toggle {
  display: inline;
  float: right;
}

/* line 35, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/layout.scss */
.al-hierarchy-side-content .al-request-form {
  display: inline;
  float: right;
}

/* line 42, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/layout.scss */
.al-request-button.btn-link {
  font-weight: 600;
  line-height: 1;
}
@media (min-width: 1200px) {
  /* line 41, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/layout.scss */
  .al-request-button {
    margin-right: 0.5rem;
  }
}
/* line 50, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/layout.scss */
.al-request-button:before {
  content: "\0229F";
}

/* line 1, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/mastheads.scss */
.al-homepage-masthead.jumbotron {
  border-bottom: 1px solid #ccc;
  padding: 2rem 1rem 1rem;
}
/* line 5, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/mastheads.scss */
.al-homepage-masthead.jumbotron h1 {
  font-size: 2.25rem;
  margin-bottom: 2rem;
}
/* line 10, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/mastheads.scss */
.al-homepage-masthead.jumbotron .search-query-form {
  margin-bottom: 1rem;
  max-width: 100%;
}
/* line 15, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/mastheads.scss */
.al-homepage-masthead.jumbotron .navbar {
  padding-bottom: 0;
}
/* line 18, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/mastheads.scss */
.al-homepage-masthead.jumbotron .navbar a {
  font-weight: 700;
}

/* line 25, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/mastheads.scss */
.al-masthead h1 {
  font-size: 2rem;
  margin: 0;
  padding: 1.5rem 0.5rem;
}
/* line 31, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/mastheads.scss */
.al-masthead + .navbar-search {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin-bottom: 0.5rem;
}
/* line 36, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/mastheads.scss */
.al-masthead + .navbar-search a {
  font-weight: 700;
}
/* line 40, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/mastheads.scss */
.al-masthead + .navbar-search .active a {
  color: #495057;
}
/* line 44, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/mastheads.scss */
.al-masthead + .navbar-search .navbar-toggler {
  background-color: #fff;
  border: 1px solid #ccc;
}
/* line 49, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/mastheads.scss */
.al-masthead + .navbar-search .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
@media (max-width: 992px) {
  /* line 55, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/mastheads.scss */
  .al-masthead h1,
  .al-masthead + .navbar-search {
    text-align: center;
  }
}

/* line 2, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/repositories.scss */
.blacklight-repositories-show .al-repository-show-header {
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}
/* line 6, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/repositories.scss */
.blacklight-repositories-show .al-repository-show-header h3 {
  font-size: 1.5rem;
}
/* line 11, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/repositories.scss */
.blacklight-repositories-show .al-repository-collections {
  font-size: 0.875rem;
}
/* line 14, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/repositories.scss */
.blacklight-repositories-show .al-repository-collections::after {
  content: '\bb';
}
/* line 19, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/repositories.scss */
.blacklight-repositories-show .al-document-title-bar {
  border-top: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}
/* line 24, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/repositories.scss */
.blacklight-repositories-show .al-document-title-bar .al-document-abstract-or-scope,
.blacklight-repositories-show .al-document-title-bar .al-collection-id {
  font-size: 0.875rem;
}

/* line 1, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/repository_card.scss */
.al-repository {
  background-color: #e9ecef;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}
/* line 6, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/repository_card.scss */
.al-repository .al-repository-information {
  font-size: 0.875rem;
  padding: 1rem;
}
@media (min-width: 992px) {
  /* line 6, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/repository_card.scss */
  .al-repository .al-repository-information {
    padding-left: 0;
  }
}
/* line 14, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/repository_card.scss */
.al-repository .al-repository-information h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
/* line 19, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/repository_card.scss */
.al-repository .al-repository-information address {
  margin-bottom: 0;
}
/* line 23, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/repository_card.scss */
.al-repository .al-repository-information .al-repository-contact,
.al-repository .al-repository-information .al-repository-extra-collection-count {
  font-weight: 300;
}
/* line 28, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/repository_card.scss */
.al-repository .al-repository-information .al-repository-street-address {
  margin-bottom: 0.5rem;
}
/* line 32, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/repository_card.scss */
.al-repository .al-repository-information .al-repository-description {
  margin-right: 1rem;
  padding-left: 2rem;
}
@media (min-width: 992px) {
  /* line 32, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/repository_card.scss */
  .al-repository .al-repository-information .al-repository-description {
    border-left: 1px solid #ccc;
  }
}
/* line 41, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/repository_card.scss */
.al-repository .al-repository-information .al-repository-extra {
  text-align: center;
}
/* line 44, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/repository_card.scss */
.al-repository .al-repository-information .al-repository-extra .al-repository-extra-collection-count {
  font-style: italic;
  margin-bottom: 1rem;
}
/* line 49, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/repository_card.scss */
.al-repository .al-repository-information .al-repository-extra .al-repository-collection-count {
  font-weight: 700;
}

/* line 2, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/search_results.scss */
.documents-list .badge {
  float: right;
}
/* line 7, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/search_results.scss */
.documents-list .al-document-title-bar {
  background-color: #e9ecef;
  border: 1px solid #ccc;
  font-size: 0.875rem;
  margin: 0 -13px 0.5rem;
  padding: 3px 12px;
}
/* line 16, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/search_results.scss */
.documents-list article.document {
  border-bottom: 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-bottom: 2rem;
  padding: 0 12px;
}
/* line 23, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/search_results.scss */
.documents-list article.document .documentHeader {
  padding-top: 0.4rem;
}
/* line 27, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/search_results.scss */
.documents-list article.document .document-title-heading {
  font-size: 1.25rem;
}
/* line 31, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/search_results.scss */
.documents-list article.document .breadcrumb-links,
.documents-list article.document .al-document-creator,
.documents-list article.document .al-document-extent,
.documents-list article.document .al-document-abstract-or-scope {
  font-size: 0.875rem;
}

/* line 42, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/search_results.scss */
.documents-compact .document .breadcrumb-links,
.documents-compact .document .al-repository-footer {
  font-size: 0.875rem;
}

/* line 50, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/search_results.scss */
.documents-hierarchy .al-number-of-children-badge {
  background-color: #eee;
  border: 1px solid #ccc;
  color: #6c757d;
  vertical-align: top;
}

/* line 58, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/search_results.scss */
.al-data-range-histogram {
  margin-bottom: 1rem;
}

/* line 62, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/search_results.scss */
.blacklight-catalog-index #appliedParams {
  margin-bottom: 3rem !important;
}

/* line 68, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/search_results.scss */
.documents-compact {
  margin-bottom: 1rem;
}
/* line 71, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/search_results.scss */
.documents-compact .document {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}
/* line 75, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/search_results.scss */
.documents-compact .document:first-child {
  border-top: 1px solid #ccc;
}

/* line 2, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/show_collection.scss */
.al-sticky-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
/* line 7, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/show_collection.scss */
.al-sticky-sidebar > div {
  margin-bottom: 1rem;
}
/* line 11, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/show_collection.scss */
.al-sticky-sidebar .card-header h3 {
  font-size: 1rem;
  font-weight: 400;
}
/* line 17, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/show_collection.scss */
.al-sticky-sidebar dt {
  color: #495057;
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 3px;
  text-transform: uppercase;
}
/* line 25, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/show_collection.scss */
.al-sticky-sidebar dd {
  line-height: 1.4;
  margin-bottom: 1rem;
}
/* line 30, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/show_collection.scss */
.al-sticky-sidebar .al-in-person-repository-name,
.al-sticky-sidebar .al-in-person-repository-location {
  font-size: 0.875rem;
  line-height: 1.25;
}
/* line 36, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/show_collection.scss */
.al-sticky-sidebar .al-in-person-repository-name img {
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  max-height: 65px;
  max-width: 65px;
}
/* line 43, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/show_collection.scss */
.al-sticky-sidebar .al-repository-contact-city_state_zip_country {
  margin-bottom: 0.5rem;
}

/* line 49, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/show_collection.scss */
.al-show-header-section {
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  padding: 0 1rem;
}
/* line 54, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/show_collection.scss */
.al-show-header-section .al-document-title-bar {
  background-color: #e9ecef;
  border-bottom: 1px solid #ccc;
  font-size: 0.875rem;
  margin: 0 -1rem 1rem;
  padding: 3px 12px;
}
/* line 62, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/show_collection.scss */
.al-show-header-section .badge {
  float: right;
}
/* line 66, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/show_collection.scss */
.al-show-header-section h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* line 73, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/show_collection.scss */
.al-show-sub-heading {
  font-size: 1rem;
  text-transform: uppercase;
}
/* line 77, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/show_collection.scss */
.al-show-sub-heading + dl dt {
  font-size: 0.875rem;
  margin-top: 4px;
  text-transform: uppercase;
}

/* line 84, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/show_collection.scss */
.al-collection-actions-menu {
  float: right;
}

/* line 1, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/sidebar.scss */
.al-in-person-repository-location {
  clear: left;
}

/* line 5, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/sidebar.scss */
.al-digital-object {
  margin-bottom: 1rem;
}
/* line 8, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/sidebar.scss */
.al-digital-object .al-digital-object-label {
  margin-bottom: 0.5rem;
}

/* line 14, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/sidebar.scss */
dt.blacklight-digital_objects_ssm {
  display: none;
}

/* line 18, /usr/local/rvm/gems/ruby-2.4.1@arclight/bundler/gems/arclight-a1ec06251b5a/app/assets/stylesheets/arclight/modules/sidebar.scss */
.al-sticky-sidebar .al-request-button {
  border: 0;
  padding-left: 0;
}
