<ul class="list-group access-links">
  <li class="list-group-item">
    <a href="https://archives.albany.edu/web/visit/"><i class="fa fa-info-circle" aria-hidden="true"></i>Using the Archives</a>
  </li>
  <li class="list-group-item larger-links">
    <a href="https://archives.albany.edu/web/directions/"><i class="fa fa-info-circle" aria-hidden="true"></i>Reading Room Hours and Directions</a>
  </li>
  <li class="list-group-item larger-links">
    <a href="https://archives.albany.edu/web/publish_cite/"><i class="fa fa-info-circle" aria-hidden="true"></i>Publishing and Citing</a>
  </li>
</ul>
