<div class="row">

  <%= render_document_partial(@document, 'access_collection') %>

  <div class="col-md-12 col-lg-9 order-xl-1">
    <h2 class="sr-only"><%= t 'arclight.views.show.context' %></h2>
    <% unless blacklight_config.show.metadata_partials.nil? %>
      <% blacklight_config.show.metadata_partials.each do |metadata| %>
        <% next unless fields_have_content?(@document, metadata) %>
        <%= render partial: 'custom_metadata', locals: { document: @document, field_accessor: metadata } %>
      <% end %>
    <% end %>

  </div>
  
</div>