<div class="card">

<ul>
	<li>Archives & Manuscripts</li>
	<ul>
		<li>New York State Modern Political Archive</li>
		<li>National Death Penalty Archive</li>
		<li>German and Jewish Intellectual Émigré Collections</li>
		<li>Business, Literary, and Local History Manuscripts</li>
		<li>University Archives</li>
	</ul>
	
	<li><a href="#">Mathes Childrens Literature</a></li>
	<p>
	</p>
	<li><a href="#">Political Pamphlets</a></li>
	<p>
	</p>
	<li><a href="#">Rare Books</a></li>
	<p>
	</p>
	
</ul>

</div>
