<a href="https://archives.albany.edu/static/pdf/<%= id[0].gsub("-", ".") %>.pdf" class="btn btn-secondary" type="button" aria-label="Full Collection PDF">
        <i class="fas fa-file-pdf"></i> Full Collection
</a>
