<div class='al-data-range-histogram row'>
  <div class='col-md-12'>
    <div id='al-date-range-histogram-content' class='collapse facet-content'>
      <%= render partial: 'arclight_rangelimit', locals: { field_name: :date_range_sim, solr_field: :date_range_sim } %>
    </div>
    <a class='float-right btn btn-info' data-toggle='collapse' id="date-range-icon" href='#al-date-range-histogram-content' aria-expanded='false' aria-controls='al-date-range-histogram-content'><i class="fa fa-arrow-down"></i>
      <%= t('arclight.date_range_histogram.show_hide') %>
    </a>
  </div>
</div>
