<div class='al-show-actions-box'>
  <div class="al-actions-box-container">
    <div class='al-show-actions-box-options d-flex'>
      <%= render partial: 'arclight/requests', locals: { document: document } %>
      <div class='al-show-actions-box-bookmarks flex-md-fill'>
        <%= render partial: 'catalog/bookmark_control', locals: { document: document } %>
      </div>
    </div>
  </div>
</div>