<div class='d-md-flex justify-content-between align-items-start al-show'>
  <div class='al-show-breadcrumb'>
    <%= render partial: 'shared/show_breadcrumbs', locals: {document: document} %>
  </div>
  <!-- GW removed :show_actions_box -->

  <% if document.level.downcase == "collection" %>
    <a class="btn btn-default btn-sm pdf-btn" href="https://archives.albany.edu/browse/pdf/<%= document.eadid %>.pdf"><i class="fa fa-file-pdf-o"></i> PDF Finding Aid</a>  
  <% end %>

  <%# render_document_partial(document, 'access_collection') %>
</div>
