<%# if current_search_session %>
<% if 1 == 2 %>
  <div id="appliedParams" class="clearfix constraints-container">
    <%= render 'start_over' %>
    <%= link_back_to_catalog class: 'btn btn-outline-secondary' %>
  </div>
<% end %>

<div class="card">
	<div class="card-body">
		<%= render_document_main_content_partial %>
	</div>
</div>

<% content_for(:sidebar) do %>
  <%= render_document_sidebar_partial @document %>
<% end %>