/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

 
 *= require browseNav
 *= require headerNavbar
 *= require searchSubnav
 *= require font-awesome

 *
 * Used by blacklight_range_limit
 *= require  'blacklight_range_limit'
 *
*/

/* make breadcrumbs on single lines
.al-show-breadcrumb > a:after { 
	content:"\a";
	white-space: pre;
}
*/

#searchBox input {

	border-top-left-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.twitter-typeahead {
	flex-grow: 0 !important;
}

.al-sticky-sidebar .al-request-button {
	padding-left: 8px !important;
}

div[class^='breadcrumb-indent'], div[class*=' breadcrumb-indent']{
    margin-left: 70px;
}
.breadcrumb-indent-0 {
	margin-left: 10px !important;
}
.breadcrumb-indent-1 {
	margin-left: 20px !important;
}
.breadcrumb-indent-2 {
	margin-left: 30px !important;
}
.breadcrumb-indent-3 {
	margin-left: 40px !important;
}
.breadcrumb-indent-4 {
	margin-left: 50px !important;
}
.breadcrumb-indent-5 {
	margin-left: 60px !important;
}

#document > div > .al-show-header-section {
	box-shadow: 4px 4px 4px #ccc;
}

#about-this-level .row {
	border-bottom: 1px dashed #ccc;
}


.component-level-only .index_title > .document-title-containers {
	margin-left: 25px !important; 
	font-size: 0.8rem !important; 
}

.component-level-only .documentHeader {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	border-bottom: 0px !important;
}

.component-level-only .document-title-heading {
	margin-bottom: 0px !important;
}

.component-level-only .document-title-heading br {
	line-height: 1 !important;
}

.component-level-only .index_title > a {
	font-size: 1rem !important;
	color: #212529;
}

.component-level-only .al-hierarchy-side-content {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

.component-level-only .al-hierarchy-sub-heading {
	margin-top: 5px !important;
}

.component-level-only .document {
	border-bottom: 1px dashed #ccc;
}

.component-level-only .al-document-abstract-or-scope {
	margin-bottom: 0px !important;
	margin-left: 40px !important;
}

.al-request-button::before {
  content: "" !important;
}

.arclightLogo {
	margin-top: 10px !important;
}

.arclightLogo img {
	width: 80px;
}

.pagination .page-item a {
	color: #46166B !important;
}

.pagination .page-item .page-link:focus {
	box-shadow: 0 0 0 0.2rem #46166B !important; 
}

.pagination .active span{
	background-color: #46166B !important;
	border-color: #46166B !important;
}

.al-sticky-sidebar {
    top: 63px !important;
}

@media only screen and (max-width: 575px) {
    #request .modal-footer {
            display: block;
    }
}

.al-repository-thumbnail {
    padding: 1rem;
}

@media only screen and (max-width: 575px) {
    .al-repository-thumbnail {
        display: none;
    }
    .al-repository-description {
        padding-left: 1rem;
    }
}

/* Dont show requests links in search results */
.al-hierarchy-side-content .al-request-button {
    display: none;
}
.al-document-title-bar > .row > .text-right .al-request-button {
    display: none;
}

/* spinner gif */
.fa-spin {
	font-size: 24px !important;
	color: #46166B;
	margin: 0px 21px;
}

.document-title-heading .badge-danger, .badge-success {
	font-size: 60% !important;
}