/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 
 *
 * Used by blacklight_range_limit
 *= require  'blacklight_range_limit'
 *
 *= require  'grenander/navbar'
 *= require  'grenander/search-source'
 *= require  'grenander/footer'
 *= require  'grenander/main'
*/

/* HT https://gitlab.oit.duke.edu/dul-its/dul-arclight/-/blob/develop/app/assets/stylesheets/dul-arclight/modules/layout.scss */
/* Sticky navigation for sidebar */
.sticky-nav {
  position: sticky;
  top: 0;
  @include media-breakpoint-down(sm) {
    position: static;
  }
}
.sidebar-scroll-wrapper {
   /* viewport height minus height of the collections info box, ~170px */
  height: calc(100vh - 125px);
  overflow-y: auto;
  overflow-x: hidden;
  @include media-breakpoint-down(sm) {
    border: 1px solid #eee;
    padding: 1em;
  }
}


#sidebar .shrink-search-options {
	display: none;
}
.sticky-nav .card-body #collection-actions {
	display: none;
}
.sticky-nav .card-body .mobile-heading {
	display: block;
}
.sticky-nav .sidebar-scroll-wrapper #about-collection-nav {
	display: none;
}

@media (min-width: 992px) {
	#sidebar .shrink-search-options {
		display: block;
	}
	.sticky-nav .card-body #collection-actions {
		display: block;
	}
	.sticky-nav .card-body .mobile-heading {
		display: none;
	}
	.sticky-nav .sidebar-scroll-wrapper #about-collection-nav {
		display: block;
	}
}