/* ===================================== */
/* Styles for sidebar context navigation */
/* ===================================== */
/* HT https://gitlab.oit.duke.edu/dul-its/dul-arclight/-/blob/develop/app/assets/stylesheets/dul-arclight/modules/context_navigation.scss */

#context {

  .card {
	 padding-bottom: 1rem;
   box-shadow: none;
	}

  .context-navigator {
    margin-top: 0rem;
    .prev-siblings button { /* Expand & collapse */
      width: 100%;
      text-align: left;
      text-transform: lowercase;
      padding-left: 2.25rem;
      background-color: #999;
      border: none;
      background-repeat: no-repeat;
      background-size: 1rem auto;
      background-position: 10px center;
      /* expand/collapse icons used from DUL Arclight https://gitlab.oit.duke.edu/dul-its/dul-arclight/-/tree/develop/app/assets/images/icons */
      background-image: asset-url("icons/expand-white.svg");
      &.collapsed {
        background-image: asset-url("icons/collapse-white.svg");
      }
    }
    .document-title-heading {
    	width: 90%;
    }
  }
  #collection-info-link:hover {
    color: rgba(255, 255, 255, 0.75) !important;
  }
  #collection-info-link:focus {
    box-shadow: 0 0 0.2rem 0.2rem rgba(235, 230, 240, 0.5);
  }
  .sidebar-collection-title a {
    text-decoration: none;
  }
  .collection-name:hover {
    color: rgba(255, 255, 255, 0.75) !important;
  }
  .request-btn:hover {
    color: #fff;
    background-color: #eaaa00 !important;
    border-color: #eaaa00 !important;
  }
  .request-btn:focus {
    box-shadow: 0 0 0.2rem 0.2rem #46166B;
  }
}

.load-warning {
  font-size: 14px;
  background: #e9ecef;
  padding: 0.5rem;
  border-radius: 5px;
  animation: pulse 1.5s infinite ease-in-out;
}
