#content #documents article.document {
	border: none;
	border-top: 1px solid #dee2e6;
}

.alpha-menu {
  display:  none;
}

.full-collections {
  display:  none;
}

@media only screen and (min-width: 991px){
  .alpha-menu {
    display: initial;
  }
  .full-collections {
    display: initial;
  }
}


.al-repository {
	background: #ffffff;
	border: 0px solid #ffffff;
	border-radius: 0.25rem;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	position: static;
}

.al-repository-thumbnail {
	padding: 1rem;
}

.al-repository .al-repository-information h2 {
	font-size: 1.5rem;
}

.al-repository .al-repository-description a {
	color: #642a90;
}

.al-repository .al-repository-description a:hover {
        color: #006c68;
}

.al-repository .al-repository-information .al-repository-description h6 {
	padding-bottom: 10px;
	border-bottom: 1px solid #f8e1a5;
	margin-bottom: 20px;
}

.al-repository .al-repository-information .al-repository-description {
	border: none;
	padding: 20px 25px;
}


.al-repository .al-repository-information .al-repository-extra {
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.ua_browse_list {
	font-size: 1.2rem;
	margin: 25px 0px;
}


.ua_browse_list > li {
	border-top: 1px solid #dee2e6;
}

.ua_browse_list li ul li {
	margin-left: 20px;
}

.ua_browse_list > div.category {
	padding: 5px 40px;
	border-top: 1px solid #dee2e6;
	margin: 5px 0px;
}

.ua_browse_list > ul {
	margin-left: 40px;
	margin-bottom: 10px;
}
