/* =========================== */
/* Child Components Index View */
/* =========================== */
/* HT https://gitlab.oit.duke.edu/dul-its/dul-arclight/-/blob/develop/app/assets/stylesheets/dul-arclight/modules/show_component.scss */

#context .title-card {
  background-color: #642a90;
  color: #fff;
  border-radius: 0.25rem 0.25rem 0rem 0rem;

  .sidebar-collection-title {
    background-image: asset-url("boxbg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
  }

  #collection-info-link {
    color: #fff;
  }
  .collection-name {
    color: #fff;
    font-weight: 300;
    text-shadow: 3px 3px 5px #46166b;
    font-size: 1.5rem;
  }
  .request-btn {
    width: 100%;
    background-color: #8b49b3;
    border-color: #8b49b3;
  }

}

#about-collection-nav {
  margin-top: 1rem;
}

.child-components #documents {
  h3.document-title-heading {
    font-size: 1.1rem;
  }
  .al-document-container {
    font-size: 0.9rem;
  }
  article {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    &:nth-of-type(odd) {
      background: #f8f8f8;
    }
    margin: 0rem;
    border-radius: 0px;
    border: none;
  }
  article li.al-collection-context .documentHeader {
    margin-bottom: 0rem;
  }
  .al-document-extent {
    font-size: 0.75rem;
  }

  .al-document-abstract-or-scope {
    max-width: none;
  }
}

li.al-collection-context .documentHeader {
  margin-bottom: 0rem;
  padding: 0.25rem;
}

li.al-collection-context .document-title-heading {
  font-size: 1rem;
}


.restrictions-row dl.dl-invert dt.col-md-3 {
  font-size: 0.875rem;
}

#document .alert-success strong .al-online-content-icon {
  fill: #155724;
}

.access-links .list-group-item {
  border: none;
  background-color: inherit;
}

.access-links .fa {
  margin-right: 0.35rem;
}

.collection-access-preview .card {
  margin-bottom: 2rem;
  background-color: #e2e1e0 !important;
}

#using-these-materials .row .col-md-8 {
  padding-right: 2rem;
}

h2.al-show-sub-heading {
  padding-top: 1rem;
}
h3.al-show-sub-heading {
  padding-top: 1rem;
}

@media only screen and (max-width: 1199px){
  .collection-access-preview .access-links .larger-links {
    display: none;
  }
}

/* Restrictions */

.document-show-card .title-container .title-badge h1 {
  display: inline;
}

.document-show-card .title-container .title-badge span.badge {
  vertical-align: top;
}

.accessrestrict-danger dd.blacklight-restrictions p {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 1rem;
  border-radius: 0.25rem;
}

.accessrestrict-warning dd.blacklight-restrictions p {
  color: var(--bs-warning-text-emphasis);
  background-color: var(--bs-warning-bg-subtle);
  border-color: var(--bs-warning-border-subtle);
  padding: 1rem;
  border-radius: 0.25rem;
}

/* Return to indented vertical breadcrumbs */

$breadcrumb-start: 3;
$padding-increment: 1rem;

.al-show-breadcrumb .breadcrumb .breadcrumb-item-3 {
  display: block;
}

.al-show-breadcrumb .breadcrumb .breadcrumb-items {
  display: block;
}

.al-show-breadcrumb .breadcrumb .breadcrumb .breadcrumb-item .breadcrumb {
  padding-left: 0;
}

/* Loop to generate the classes dynamically */
@for $i from $breadcrumb-start through 10 {
  .breadcrumb-item-#{$i} {
    padding-left: #{$padding-increment * ($i - $breadcrumb-start + 1)} !important;
  }
}

ol.breadcrumb .breadcrumb-item svg {
  fill: #000;
}

.breadcrumb-item + .breadcrumb-item::before {
  /*content: var(--bs-breadcrumb-divider, "")  rtl: var(--bs-breadcrumb-divider, "|") !important;*/
}

.breadcrumb-item-3:first-of-type {
    // This is if the series is a parent of this item.
    &::before {
      content: ""!important;
    }
  }
