/* =========================== */
/* Child Components Index View */
/* =========================== */
/* HT https://gitlab.oit.duke.edu/dul-its/dul-arclight/-/blob/develop/app/assets/stylesheets/dul-arclight/modules/show_component.scss */

#context .title-card {
  background-color: #642a90;
  color: #fff;
  border-radius: 0.25rem 0.25rem 0rem 0rem;

  .sidebar-collection-title {
    background-image: url(boxbg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
  }

  #collection-info-link {
    color: #fff;
  }
  .collection-name {
    color: #fff;
    font-weight: 300;
    text-shadow: 3px 3px 5px #46166b;
    font-size: 1.5rem;
  }
  .request-btn {
    width: 100%;
    background-color: #9e68c7;
    border-color: #9e68c7;
  }
  
}

#about-collection-nav {
  margin-top: 1rem;
}

.child-components #documents {
  h3.document-title-heading {
    font-size: 1.1rem;
  }
  .al-document-container {
    font-size: 0.9rem;
  }
  article {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    &:nth-of-type(odd) {
      background: #f8f8f8;
    }
    margin: 0rem;
    border-radius: 0px;
    border: none;
  }
  article li.al-collection-context .documentHeader {
    margin-bottom: 0rem;
  }
  .al-document-extent {
    font-size: 0.75rem;
  }

  .al-document-abstract-or-scope {
    max-width: none;
  }
}

li.al-collection-context .documentHeader {
  margin-bottom: 0rem;
  padding: 0.25rem;
}

li.al-collection-context .document-title-heading {
  font-size: 1rem;
}
