<% document ||= @document %>
<% google_form ||= Arclight::Requests::GoogleForm.new(document, show_presenter(document), solr_document_path(document)) %>


<button type='submit' class='al-request-button btn btn-info' data-toggle="modal" data-target="#request">
    <i class="fa fa-arrow-alt-circle-right"></i>
    <%= t('arclight.request.container') %>
</button>
