<% document ||= @document %>
<% google_form ||= Arclight::Requests::GoogleForm.new(document, show_presenter(document), solr_document_path(document)) %>

<div id="request" class="modal" tabindex="-1" role="dialog" aria-modal="true" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="flex-direction:column;">
                <div style="width:100%;display:flex;flex-align:top;padding:5px;">
                    <h5>Request the materials you selected.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                
                <div class="col-md-12 restrictionsText" style="font-size:0.85rem;">
                    <p>Archival materials can be view in-person in our reading room, located on the top floor of the Science Library on the Uptown Campus. Making an appointment is not neccessary, but it may help us ensure the items are available when you arrive.</p>
                    <p>If materials are unrestricted, we can also deliver digital scans remotely for a fee.</p>
                    
                    <% if document["accessrestrict_ssm"].present? %>
                        <div class="alert alert-danger modalAlert">
                            <strong>Restrictions Present</strong><br/>
                              <p>The materials you selected include restricted records. We are unlikely to be able to fulfill remote requests for these items, and in-person access may be limited. If you request these items an archivist will contact you with more details.
                              </p>
                            <strong>Restrictions:</strong>
                            <% document._source['accessrestrict_ssm'].each do |para| %>
                              <%= content_tag :p, para %>
                            <% end %>
                        </div>
                    <% else %>
                        <% if document.parent_restrictions.present? %>
                            <% if document.parent_restrictions.downcase.include? "access to this collection is unrestricted." %>
                            <% elsif document.parent_restrictions.downcase.include? "access to these records is unrestricted." %>
                            <% elsif document.parent_restrictions.downcase.include? "this collection is unrestricted." %>
                            <% elsif document.parent_restrictions.downcase.include? "access to this record group is unrestricted." %>
                            <% elsif document.parent_restrictions.downcase.include? "must consult archivist" %>
                                <div class="alert alert-warning modalAlert">
                                  <strong>Restrictions Present</strong>
                                  <p>The materials you selected include restricted records. We are unlikely to be able to fulfill remote requests for these items, and in-person access may be limited. If you request these items an archivist will contact you with more details.
                                  </p>
                                  <strong>Restrictions:</strong>
                                  <% document._source['parent_access_restrict_ssm'].each do |para| %>
                                    <%= content_tag :p, para %>
                                  <% end %>
                                </div>
                            <% else %>
                                <div class="alert alert-info modalAlert">
                                  <strong>Restrictions Possible</strong>
                                  <p>The notice below may state that the records you've selected contain restrictions. We are unlikely to be able to fulfill remote requests for restricted items, and in-person access may be limited. If you request these items an archivist will contact you with more details.
                                  </p>
                                  <strong>Restrictions:</strong>
                                  <% document._source['parent_access_restrict_ssm'].each do |para| %>
                                    <%= content_tag :p, para %>
                                  <% end %>
                                </div>
                            <% end %>
                        <% end %>
                    <% end %>  
                </div>
                

            </div>
            <div class="modal-body embed-responsive embed-responsive-4by3 p-3">
                <% refURL="https://apps.library.albany.edu/forms/archives-request.php" %>
                <% refURL = refURL + "?link=" + google_form.send("document_url") %>
                <% refURL = refURL + "&collection=" + google_form.send("collection_name") %>
                <% refURL = refURL + "&title=" + google_form.send("title") %>
                <% refURL = refURL + "&eadid=" + google_form.send("eadid") %>
                <% refURL = refURL + "&containers=" + google_form.send("containers").to_s %>
            
                <iframe id="formEmbed" class="modal-iframe embed-responsive-item" src="<%= refURL.html_safe %>"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
