<div class="dado" style="position: relative;padding-bottom: 56.25%;">

  <div 
    data-controller="mirador"
    data-mirador-manifest-url-value="<%= @resource.href %>" 
    id="mirador-viewer" 
    style="width:100%;height:auto;">
  </div>

</div>
